body {
    background: #d2d5d6;
}
.app {
    background: #e9edee;
    width: 480px;
    height: 550px;
    margin: 50px auto;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
}
.music-player {
    background: #e9edee;
    width: 400px;
    height: 255px;
    margin: 50px auto;
    padding: 20px 40px 40px 40px;
    position: relative;
    bottom: -180px;
    border-radius: 0px 0px 35px 35px;
}
#id-img-cover {
    width: 480px;
    position: absolute;
    top: -140px;
    left: 0px;
    z-index: 0;
    border-radius: 35px;
}
.line {
    display: inline-block;
}
.list {
    overflow: auto;
    width: 100%;
    height: 125px;
    position: absolute;
    z-index: 50;
}
.audio {
    position: absolute;
    bottom: 25px;
    z-index: 100;
}
.barShell {
    width: 300px;
    position: absolute;
    left: 0px;
    bottom: 85px;
}
.middle {
    width: 45px;
}
#id-img-toggle {
    position: relative;
    bottom: -7px;
}
.time {
    position: absolute;
    left: 315px;
    bottom: 81px;
    font-size: 14px;
    color: #414141;
}
.audio-bar {
    width: 100%;
    height: 10px;
    background: #414141;
    border-radius: 5px;
}
.audio-progress {
    width: 0px;
    height: 100%;
    background: #cdd2d7;
    border-radius: 5px;
}
.playMode {
    width: 35px;
    position: absolute;
    bottom: 10px;
    left: 230px;
}
.voice-img {
    width: 35px;
    position: absolute;
    bottom: 10px;
    left: 280px;
}
.voice-bar {
    width: 75px;
    height: 10px;
    background: #414141;
    position: absolute;
    bottom: 22px;
    left: 318px;
    border-radius: 5px;
}
.voice-progress {
    width: 50%;
    height: 100%;
    background: #cdd2d7;
    border-radius: 5px;
}
.hide {
    display: none;
}
/*列表部分*/
.song {
    height: 22px;
    position: relative;
    color: #414141;
    width: 400px;
}
.class-span-number {
    width: 20px;
    overflow: hidden;
}
.class-span-like {
    width: 20px;
}
.like {
    width: 100%;
}
.songName {
    width: 120px;
    height: 100%;
    overflow: hidden;
}
.class-span-singer {
    width: 140px;
    height: 100%;
    overflow: hidden;
}
.class-span-time {
    position: relative;
    left: 33px;
    top: -4px;
}
.title {
    height: 22px;
    width: 400px;
}
.active {
    background: #414141;
    color: #d9d9d9;
}